<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Waste Collection Buscar</title>

<!--    <link rel="stylesheet" href="../static/css/style.css">-->
    <!--  Descomente a linha acima e comente a de baixo se quiser editar o estilo da página pelo VSCODE  -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body >
<div>
    <div class="titulo">Eletronic Waste</div>
    <section>
        <strong class="introducao">
            Preencha todos os campos para ver o local de coleta mais próximo!
        </strong>
    </section>
    <div class="container">
        <form class="form" th:action="@{/coletaSeletiva/resultado}" th:object="${PontoColeta}">
            <label for="tipoLixo"><strong>Tipo de lixo*:</strong></label>
            <select id="tipoLixo" required th:field="${PontoColeta.tipoLixo}">
                <option value="pilhas-e-baterias">Pilhas e Baterias</option>
                <option value="celulares">Celulares</option>
                <option value="fios-e-carregadores">Fios e Carregadores </option>
                <option value="placas-de-computadores">Placa de Computadores</option>
                <option value="outros">Outros eletrônicos</option>
            </select>
            <br>
            <label for="cep"><strong>Insira o CEP*</strong></label>
            <input id="cep" required type="text" maxlength="8" placeholder="00000-000" th:field="${PontoColeta.cep}" >
            <div class="avancar-form">
                <button type="submit" class="button" > <strong>Avançar</strong></button>
            </div>
        </form>
    </div>   

    <div class="avancar">
        <a class="button" th:href="@{/coletaSeletiva/cadastrar}"> <strong>Cadastrar local de coleta</strong></a>
    </div>

</div>
</body>
</html>