<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Waste Collection Resultado</title>
<!--       <link rel="stylesheet" href="../static/css/style.css">-->
    <!--  Descomente a linha acima e comente a de baixo se quiser editar o estilo da página pelo VSCODE  -->
     <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body >
<div class="bordas-neon" >
    <div class="titulo" style="font-size: 1em">Eletronic Waste</div>
    <section>
        <strong class="introducao">
            Ponto de coleta mais próximo:
            <p th:text="${nomeLocal}"></p>
        </strong>
    </section>

    <div th:if="${naoEncontrou}" class="titulo" style="font-size: 3em">Nenhum local próximo encontrado</div>

    <div th:unless="${naoEncontrou}" class="mapa">
        <iframe th:src="${mapa}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>

    <div class="avancar">
        <a class="button" th:href="@{/coletaSeletiva/home}"> <strong>Voltar</strong></a>
    </div>
</div>
</body>
</html>